*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.lop
*.frm
*.loc
*.fls
*.fdb_latexmk
*-blx.bib
*.run.xml
*.encadre
*.listencadres
*.mtc*
*.Rhistory
These_Robin_Master.pdf