*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.lop
*.frm
*.loc
*.fls
*.fdb_latexmk
*-blx.bib
*.run.xml
*.encadre
*.listencadres
*.mtc*
*.bcf
*.Rhistory
*/old/*
old/*
*/old_comments/*
These_Robin_Master.pdf
These_CURA_Modeliser_des_systemes_JuryPDF.pdf
These_CURA_Modeliser_des_systemes_Impression.pdf
CURA_These_print.pdf
20191124_TheseRobin_PlanDetaille.pdf
2020-01CURAMod_ED.pdf
