*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.lop
*.frm
*.loc
*.fls
*.fdb_latexmk
*-blx.bib
*.run.xml
*.mtc*
!/.Rhistory
*chap1.pdf
*chap2.pdf
*chap3.pdf
*chap4.pdf
*chap4-1.pdf
*chap4-2.pdf
*chap5.pdf
*chap6.pdf
*chap7.pdf
*chap8.pdf
These_Robin_Master.pdf